@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black bg-white font-sans leading-loose;
  }
  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 0.25rem;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.lightPink');
    border-radius: 0.25rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
